.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: .4rem;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
/*     marginBottom: .2rem; */
}

.logo{
    font-size: 2rem;
    color: #eb7434;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-between;
}

.button {
    color: white;
    border-radius: 3px;
    border: 0;
    padding: .5rem;
    background-color: #eb7434;
}
